BODY { 
    margin-left: 50px; 
    margin-right: 50px;
    font-size: large 
}
IMG { border-style: none; }
UL.navmenubar {
    width: 100%;
    text-align: center;
    list-style-type: none;
}
UL.navmenubar > LI {
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
}
